# ITS Support Team Performance Metrics â€“ Data Reshaping and Analysis

Step 1: Import pandas, create expanded wide format data for ITS support teams, save to CSV

In [1]:
>>> import pandas as pd 
data = {
    'Team': ['Network Ops', 'App Support', 'Help Desk', 'Security'],
    'Jan_Tickets_Resolved': [320, 210, 450, 180],
    'Jan_Avg_Resolution_Time': [2.5, 3.2, 1.8, 4.0],
    'Feb_Tickets_Resolved': [300, 230, 470, 190],
    'Feb_Avg_Resolution_Time': [2.7, 3.0, 1.7, 3.8],
    'Mar_Tickets_Resolved': [310, 220, 460, 200],
    'Mar_Avg_Resolution_Time': [2.6, 3.1, 1.9, 3.9]
}

df_wide = pd.DataFrame(data)

df_wide.to_csv("ITS_Performance_Wide.csv", index=False)

Step 2: Load and inspect the Dataset

In [2]:
>>> df_loaded = pd.read_csv("ITS_Performance_Wide.csv")

df_loaded.head()

,Team,Jan_Tickets_Resolved,Jan_Avg_Resolution_Time,Feb_Tickets_Resolved,Feb_Avg_Resolution_Time,Mar_Tickets_Resolved,Mar_Avg_Resolution_Time
0,Network Ops,320,2.5,300,2.7,310,2.6
1,App Support,210,3.2,230,3.0,220,3.1
2,Help Desk,450,1.8,470,1.7,460,1.9
3,Security,180,4.0,190,3.8,200,3.9

Step 3: Tidying and reshaping the data: split 'Metric_Month' into 'Month' and 'Metric', pivot to get separate columns for each metric, and rename columns for clarity

In [3]:
>>> df_long = pd.melt(
    df_loaded,
    id_vars=['Team'],
    var_name='Metric_Month',
    value_name='Value'
)

df_long[['Month', 'Metric']] = df_long['Metric_Month'].str.extract(r'(\w+)_([\w\s]+)')

df_tidy = df_long.pivot_table(
    index=['Team', 'Month'],
    columns='Metric',
    values='Value'
).reset_index()

df_tidy.columns.name = None
df_tidy.rename(columns={
    'Tickets_Resolved': 'Tickets Resolved',
    'Avg_Resolution_Time': 'Avg Resolution Time'
}, inplace=True)

df_tidy.head()

          Team               Month  Resolved  Time
0  App Support  Feb_Avg_Resolution       NaN   3.0
1  App Support         Feb_Tickets     230.0   NaN
2  App Support  Jan_Avg_Resolution       NaN   3.2
3  App Support         Jan_Tickets     210.0   NaN
4  App Support  Mar_Avg_Resolution       NaN   3.1

#Analysis:
This notebook demonstrates the transformation of a wide-format ITS support dataset into a tidy long format suitable for analysis. The original data, scraped from internal dashboards, stored monthly metrics in separate columns. Using pandas.melt and pivot_table, the data was reshaped to align with tidy data principles, where each variable in its own column, each observation in its own row. This analysis revealed that Help Desk consistently resolved the highest number of tickets across all months, while Security had the longest average resolution times. These insights can inform staffing decisions and highlight areas for process improvement. Incident severity and escalation metrics can be integrated, and April to June data can be added for seasonal trend analysis.